<!DOCTYPE html>
<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FFD700">
    <meta name="description" content="Gamers'Harem è un digital marketplace dove si possono acquistare contenuti videoludici per ogni piattaforma.">
    <link rel="icon" href="../static/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/game-page.css">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{{ url_for("static", filename="service-worker.js") }}')
                .then(registration => console.log('Service Worker registered with scope:', registration.scope))
                .catch(error => console.error('Service Worker registration failed:', error));
        }
    </script>

    <title>Zelda</title>
</head>

<body>
    <header>
        <div class="navbar">
            <img class="main-logo" src="../static/favicon.png" alt="main-logo">
            <a href="{{url_for('index')}}" class="navbar-name-site"> Gamers'Harem </a>
            <nav class="nav">
                <ul>
                    <li><a href="{{url_for('pc')}}">Pc</a></li>
                    <li><a href="{{url_for('playstation')}}">Playstation</a></li>
                    <li><a href="{{url_for('xbox')}}">Xbox</a></li>
                    <li><a href="{{url_for('nintendo')}}">Nintendo</a></li>
                </ul>
            </nav>
            <div class="menu-toggle" id="mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="search-box">
                <form action="{{url_for('search')}}" method="GET">
                    <label for="searchInput"></label>
                    <input type="text" id="searchInput" name="query" placeholder="Cerca" onkeydown="if (event.keyCode === 13) this.form.submit()">
                </form>
            </div>
            <div class="overlay" id="overlay"></div>
            <div class="modal" id="myModal"></div>
        <a href="{{url_for('cart')}}">
            <img src="../static/carrello.png" alt="Carrello" class="cart-logo">
        </a>
            <a id="login-menu"><img src="../static/login.png" class="login-logo" alt="..."></a>
            <nav class="login-box" id="loginMenu">
                {% if not session['username'] %}
                <div class="login-logo-container">
                    <h1>Login</h1>
                    <form action="{{url_for('login')}}" method="post">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="pass" required>
                        <button class="log-in" type="submit">Log In</button>
                    </form>
                    <h2>Non sei registrato?</h2>
                    <button class="register" type="submit" onclick="openRegisterModal()">Registrati</button>
                </div>
                {% else %}
                <div class="log-info">
                    <p>Benvenuto, {{ session['username'] }}!</p>
                    <a href="{{url_for('utente')}}">
                        <button class="profile">Area Personale</button>
                    </a>
                    <form action="{{url_for('logout')}}" method="post">
                        <input type="submit" value="Log Out">
                    </form>
                </div>
                {% endif %}
                <div class="overlay" id="overlayRegister"></div>
                <div class="modal" id="registerModal">
                    <span class="close" onclick="closeRegisterModal()">&times;</span>
                    <div class="dividereg">
                        <h6>Registrazione</h6>
                        <form action="{{url_for('register')}}" method="post">
                            <label for="registerEmail">E-mail:</label>
                            <input type="email" id="registerEmail" name="email" required>
                            <label for="registerNickname">Nickname:</label>
                            <input type="text" id="registerNickname" name="nickname" required>
                            <label for="registerPassword">Password:</label>
                            <div class="password-container">
                                <input type="password" id="registerPassword" name="pass" required>
                                <span class="password-toggle" onclick="togglePasswordVisibility()">
                        <img src="../static/eye-closed.png" alt="Toggle Password Visibility">
                    </span>
                            </div>
                            <button class="register" type="submit">Registrati</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="post-title">The Legend of Zelda: Tears of the Kingdom</p>
                <div class="game-card">
                    <img src="../static/images/zelda.jpg" alt="Immagine" class="img-fluid">
                    <div class="cover-bottom-bar d-flex justify-content-between">
                        <p class="game-price" data-price="78.19">78.19€</p>
                        <div>
                            <button onclick="addToCart()">Aggiungi</button>
                            <button onclick="purchaseGame()">Acquista</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game-info col-sm-6 d-flex flex-column text-center">
                <p class="game-name">The Legend of Zelda: Tears of the Kingdom</p>
                <span class="bottom-line"></span>
                <p class="game-description">
                    Un epico viaggio attraverso Hyrule e i suoi cieli ti attende in The Legend of Zelda: Tears of the Kingdom per Nintendo Switch. Crea la tua avventura in un mondo dove potrai lasciare libero sfogo all'immaginazione.
                </p>
            </div>
        </div>
    </div>
    <div class="bottom-area content-to-hide">
        <div class="field"> About us:
            <div class="content">
                <span>Siamo due studenti universitari appassionati di tecnologia e innovazione, entrambi iscritti al corso di Computer Science presso l'Università Parthenope di Napoli.<br>
                La nostra missione è esplorare le frontiere della conoscenza informatica e tradurre le nostre passioni in progetti concreti.
                Condividiamo l'entusiasmo per le sfide informatiche e l'interesse per le soluzioni creative.</span>
            </div>
        </div>
        <div class="field"> Contatti:
            <div class="content">
                <span> francesco.porritiello001@studenti.uniparthenope.it </span>
                <span> francesco.esposito034@studenti.uniparthenope.it </span>
            </div>
        </div>
    </div>
        <script>
        document.getElementById('searchInput').addEventListener('keydown', function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                const query = this.value.trim();
                const gameUrl = findGameUrlInDatabase(query);

                if (gameUrl) {
                    window.location.href = '/' + gameUrl;
                } else {
                    console.log('Nessun risultato trovato per la query:', query);
                }
            }
        });
    </script>
    <script>
        function purchaseGame() {
          var gamePriceElement = document.querySelector('.game-price');

          if (gamePriceElement) {
            var gamePrice = gamePriceElement.getAttribute('data-price').toString();

            fetch('/paypal_payment?price=' + encodeURIComponent(gamePrice))
              .then(response => response.json())
              .then(data => {
                window.location.href = data.approval_url;
              })
              .catch(error => {
                console.error('Errore durante la richiesta PayPal:', error);
              });
          } else {
            console.error('Elemento con classe game-price non trovato sulla pagina.');
          }
        }
    </script>

<script>
    function addToCart() {
        var productName = document.querySelector('.game-name').innerText;
        var productPrice = document.querySelector('.game-price').getAttribute('data-price');
        var product = {
            name: productName,
            price: parseFloat(productPrice)
        };
        addToCartAndRefresh(product);
    }
function addToCartAndRefresh(product) {
    var cart = JSON.parse(localStorage.getItem('cart')) || [];
    var existingProductIndex = cart.findIndex(p => p.name === product.name);
    if (existingProductIndex !== -1) {
        cart[existingProductIndex].quantity += 1;
    } else {
        product.quantity = 1;
        cart.push(product);
    }

    localStorage.setItem('cart', JSON.stringify(cart));
    alert('Prodotto aggiunto al carrello!');
}
</script>
    <script src="../static/app.js"></script>
</body>

</html>