@media screen and (min-height: 500px){
    .container{
        width: 100%;
        padding-top: 140px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 450px){
    .container{
        padding-top: 150px;
    }
}
@media screen and (min-width: 1200px) {
    .game-price{
        margin: 30px;
    }
    button{
        padding: 10px 10px;
    }
}
@media  screen and (max-width: 1199px) {
    .game-price{
        margin: 20px;
    }
    button{
        padding: 5px 10px;
    }
}
@media screen and (min-width: 992px) {
    .game-name{
        font-size: 40px;
    }
    .game-description{
        font-size: 20px;
    }
}
@media screen and (max-width: 991px) {
    .game-description{
        font-size: 10px;
        line-height: 20px;
    }
    .game-name{
        font-size: 30px;
    }
}
@media screen and (min-width: 768px){
    .post-title{
        display: none;
    }
    .bottom-line{
        display: block;
        width: 100%;
        border-bottom: 2px solid green;
    }
    .game-name {
        font-weight: bold;
        color: gold;
    }
}
@media screen and (max-width: 767px){
    .bottom-line{
        display: none;
    }
    .game-name {
        display: none;
    }
    .col-sm-6 {
        flex: 100%;
    }
    .game-info{
        margin: 15px 13px;
    }
}

.container img{
    border-radius: 15px 15px 0 0;
    max-width: 100%;
    filter: grayscale(.3);
    transition: 0.3s;
}

.container img:hover{
    filter: grayscale(0);
    transition: 0.3s;
}

.game-description{
    line-height: 30px;
    color: white;
}

.cover-bottom-bar{
    background-color: #2c2c2c;
    display: flex;
    border-radius: 0 0 15px 15px;
    align-items: center;
}

.game-price{
    color: gold;
    font-weight: bold;
    font-size: 25px;
}

button{
    background-color: green;
    border: none;
    border-radius: 15px;
    color: #2c2c2c;
    font-weight: bold;
}

button:first-child{
    margin-right: 5px;
}

button:hover{
    background-color: gold;
}

.cover-bottom-bar button:last-child{
    margin-right: 15px;
}

.game-info{
    background-color: #2c2c2c;
    border-radius: 15px;
}

.post-title{
    font-weight: bold;
    color: #2C2C2C;
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}

.game-name,.game-description{
    margin: 15px;
}

.game-card{
    border: 1px solid black;
    border-radius: 15px;
}

.post-title{
    background-color: #2C2C2C;
    border-radius: 15px;
    border: 1px solid black;
    color: gold;
    padding: 10px;
}

