body {
    background-color: gold;
    margin-left: 10px;
    margin-right: 10px;
}

.main-title,
.sub-title{
    text-align: center;
    color: black;
}

.sub-title{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.main-title h3{
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 0 auto 20px;
}

.card .game-name {
    color: white;
}

.card .price {
    margin-left: 15px;
    color: gold;
    text-align: right;
}

.custom-column:not(:last-child) {
    margin-bottom: 30px;
}

header::before{
    content: "";
    display: block;
    height: 10px;
    background-color: gold;
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 999;
}

.navbar-name-site {
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}

.navbar a{
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.main-logo {
    width: 30px;
    margin-left: 7px;
    margin-right: 7px;
}

.cart-logo {
    width: 32px;
    margin-right: 7px;
    margin-left: 7px;
}

.login-logo {
    width: 30px;
    margin-right: 7px;
    margin-left: 7px;
}


@media screen and (min-width: 992px){
    .card-body{
        height: 80px;
    }
}
@media screen and (max-width: 991px){
    .custom-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .card-body{
        height: 80px;
    }
}
@media screen and (max-width: 767px){
    .card-body{
        height: 100px;
    }
}
@media screen and (max-width: 650px){
    .main-logo{
        display: none;
    }
}
@media  screen and (max-width: 522px){
    .custom-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card-body{
        height: 80px
    }
}
@media screen and (max-height: 700px){
    .content{
        font-size: 15px;
    }
}
@media screen and (max-width: 575px){
    .col-sm{
        padding-bottom: 30px;
        height: auto;
        width: 400px;
    }
    .row{
        justify-content: center;
    }
    .field .content{
        font-size: 12px;
    }
}
@media screen and (min-width: 741px){
    h3{
        padding-top: 150px;
        margin-bottom: 10px;
        font-size: 50px;
    }
    .main-title p{
        margin-bottom: 70px;
        font-size: 20px;
    }
    .navbar{
        height: 80px;
    }
    .nav{
        top: 90px;
    }
    .login-box {
        top: 90px;
    }
    h4{
        font-size: 30px;
    }
    .nav li{
        font-size: 20px;
    }
    .modal-content{
        width: 700px;
        margin: 0 auto;
        top: 10%;
    }
}
@media screen and (max-width: 740px){
    .nav{
        top: 120px;
    }
    .login-box {
        top: 120px;
    }
    h3{
        padding-top: 170px;
        margin-bottom: 10px;
        font-size: 50px;
    }
    .main-title p{
        margin-bottom: 60px;
    }
    h4{
        font-size: 25px;
    }
    .navbar-name-site,.main-logo,.menu-toggle,.search-box,.cart-logo,.login-logo{
        margin-bottom: 5px;
    }
    .modal-content{
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        top: 20%;
    }
}
@media screen and (max-width: 716px){
    h3{
        padding-top: 170px;
        margin-bottom: 10px;
        font-size: 40px;
    }
    .main-title p{
        margin-bottom: 55px;
    }
}
@media screen and (max-width: 407px){
    h3{
        padding-top: 160px;
    }
    .main-title p{
        margin-bottom: 30px;
    }
    .login-box{
        top:125px;
    }
    .nav{
        top:125px;
    }
}
@media screen and (max-width: 583px){
    .nav{
        height: 240px;
    }
}
@media screen and (max-width: 382px){
   h3{
       padding-top: 200px;
   }
    .main-title p{
        margin-bottom: 40px;
    }
    .nav{
        top:160px;
    }
    .login-box{
        top: 160px;
    }
}
@media screen and (min-width: 1050px) and (max-height: 1100px) {
    .container{
        width: 80%;
    }
    h3{
        padding-top: 140px;
    }
    .main-title p{
        margin-bottom: 50px;
    }
    .nav{
        height: 180px;
    }
    .nav li{
        font-size: 15px;
    }
}

h3 {
    display: flex;
    justify-content: center;
}

.bottom-area {
    margin-top: 40px;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.field{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 15px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.field .content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content{
    color: yellow;
    margin: 15px;
}

.content span{
    margin: 5px;
}

.container{
    overflow: hidden;
    z-index:1;
}

.navbar {
    justify-content: center;
    position: fixed;
    display: flex;
    background-color: black;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
    overflow: hidden;
    transition: border-radius 0.2s;
    width: calc(100% - 20px);
    z-index: 1000;
    padding: 15px 30px;
}

.nav {
    display: none;
    width: calc(100% - 20px);
    position: fixed;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    background-color: #2C2C2C;
    padding-top: 20px;
    overflow: hidden;
}

.nav.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: gold;
    font-weight: bold;
}

.nav ul{
    margin: 0;
    padding: 0;
}

.nav li{
    padding-bottom: 20px;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

.menu-toggle {
    cursor: pointer;
    display: block;
    margin-left: 7px;
    margin-right: 7px;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: gold;
    margin: 5px 0;
    border-radius: 15px;
}

.search-box {
    display: flex;
}

.search-box input {
    width: 160px;
    height: 40px;
    border: 2px solid gold;
    border-radius: 15px;
    background-color: #2C2C2C;
    color: gold;
    outline: none;
    text-align: center;
    margin-right: 7px;
    margin-left: 7px;
}

.row a{
    text-decoration: none;
}

.login-box {
    display: none;
    width: calc(100% - 20px);
    position: fixed;
    border-radius: 0 0 15px 15px;
    background-color: #2C2C2C;
    overflow: hidden;
    color: gold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    bottom: 10px;
    font-size: 20px;
}

.login-box.show {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
}

label {
    display: block;
    color: gold;
    font-weight: bold;
}

.login-box input {
    width: 80%;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid gold;
    background-color: transparent;
    color: gold;
    border-radius: 0;
}

.login-box label{
    text-align: center;
}

.login-logo-container {
    border: 2px solid gold;
    border-radius: 15px;
}

h2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    backdrop-filter: blur(8px);
}

h5{
    text-align: center;
    color: gold;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

h4{
    color: red;
    padding: 10px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 10px;
    font-size: 35px;
    cursor: pointer;
    color: red;
}

.login-logo-container h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

.card,.game-info {
    border: 1px black solid;
    border-radius: 15px;
}

#overlayRegister {
    display: none;
}

#registerModal {
    display: none;
    position: fixed;
    background-color: #2C2C2C;
    text-align: center;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 15px;
}

#registerModal input{
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
}

.password-toggle img {
    position: absolute;
    width: 20px;
    height: 20px;
}

#registerModal h6{
    margin: 30px 30px 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    overflow: hidden;
}

.login-logo-container input{
    text-align: center;
}

.dividereg label{
    overflow: hidden;
}

.dividereg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2C2C2C;
    border: 2px solid gold;
    border-radius: 15px;
}

.modal-content{
    border-radius: 15px;
    background-color: #2C2C2C;
}

.modal-content .close{
    position: absolute;
    width: 20px;
    height: 30px;
    right: 20px;
    top: 0;
    font-size: 35px;
    cursor: pointer;
    color: red;
}

button[type="submit"] {
    color: #2c2c2c;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 10px;
}

.log-in{
    margin-top: 10px;
    background-color: green;
}

.log-in:hover {
    background-color: green;
    border-radius: 15px;
    box-shadow: 0 0 5px green,
    0 0 25px green;
}

.register{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 20px;
}

.register:hover {
    background-color: orange;
    border-radius: 15px;
    box-shadow: 0 0 5px orange,
    0 0 25px orange;
}

.profile{
    color: #2c2c2c;
    background-color: green;
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.log-info input{
    color: #2c2c2c;
    background-color: red;
    border-radius: 15px;
    padding: 5px;
    border: none;
    text-decoration: none;
    font-weight: bold;
}