body {
    background-color: gold;
    margin: 0;
}

.main-title,
.sub-title{
    text-align: center;
}

.sub-title{
    font-size: 20px;
    padding-bottom: 30px;
    color: black;
}

.main-title{
    padding-top: 30px;
    padding-bottom: 5px;
    color: black;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    width: calc(100% - 40px);
    margin: 0 auto 30px;
}

.card .game-name {
    color: white;
}

.card .price {
    margin-left: 15px;
    color: gold;
    text-align: right;
}

.custom-column:not(:last-child) {
    margin-bottom: 30px;
}

.main-title h3{
    font-weight: bold;
    font-size: 40px;
}

header::before{
    content: "";
    display: block;
    height: 10px;
    background-color: gold;
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 999;
}

.navbar-name-site {
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 7px;
    margin-right: 7px;
}

.main-logo {
    width: 30px;
    margin-left: 14px;
    margin-right: 7px;
}

.cart-logo {
    width: 32px;
    margin-right: 7px;
    margin-left: 7px;
}

.login-logo {
    width: 30px;
    margin-right: 14px;
    margin-left: 7px;
}

@media screen and (min-width: 992px){
    .card-body{
        height: 80px;
    }
}
@media screen and (max-width: 991px){
    .custom-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .card-body{
        height: 80px;
    }
}
@media screen and (max-width: 767px) {
    .card-body{
        height: 100px;
    }
}
@media screen and (min-width: 682px){
    .nav{
        top: 90px;
    }
    .navbar{
        height: 80px;
    }
    .login-box {
        top: 90px;
    }
    .modal-content{
        margin: 100px auto;
    }
}
@media screen and (max-width: 694px){
    .navbar {
        height: 120px;
    }
    .nav{
        top: 130px;
    }
    .main-title .h3{
        margin-top: 40px;
    }
    .login-box {
        top: 130px;
    }
    .modal-content{
        margin: 130px auto;
    }
}
@media screen and (max-width: 575px){
    .col-sm{
        padding-bottom: 30px;
        height: auto;
        width: 400px;
    }

    .row{
        justify-content: center;
    }

    .field .content{
        font-size: 10px;
    }
}
@media  screen and (max-width: 522px) {
    .custom-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card-body{
        height: 80px
    }
}
@media screen and (max-width: 450px) {
    .main-logo{
        display: none;
    }
}

h3 {
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.bottom-area {
    background-color: black;
    border-radius: 15px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.field{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 15px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.field .content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content{
    color: yellow;
    display: block ;
    margin: 15px;
}

.container{
    overflow: hidden;
    z-index:1;
}

.navbar {
    justify-content: center;
    position: fixed;
    display: flex;
    background-color: black;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    transition: border-radius 0.2s;
    width: calc(100% - 20px);
    z-index: 1000;
}

.nav {
    display: none;
    width: calc(100% - 20px);
    position: fixed;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    background-color: #2C2C2C;
    margin: 0;
    padding-top: 15px;
    overflow: hidden;
}

.nav.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: gold;
    font-weight: bold;
}

.nav ul{
    margin: 0;
    padding: 0;
}

.nav li{
    margin-bottom: 15px;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

.menu-toggle {
    cursor: pointer;
    display: block;
    margin-left: 7px;
    margin-right: 7px;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: gold;
    margin: 5px 0;
    border-radius: 15px;
}

.search-box {
    display: flex;
}

.search-box input {
    width: 160px;
    height: 45px;
    border: 2px solid gold;
    border-radius: 15px;
    background-color: #2C2C2C;
    color: gold;
    outline: none;
    text-align: center;
    margin-right: 7px;
    margin-left: 7px;
}

.row a{
    text-decoration: none;
}

.login-box {
    display: none;
    width: calc(100% - 20px);
    position: fixed;
    border-radius: 0 0 15px 15px;
    background-color: #2C2C2C;
    overflow: hidden;
    color: gold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    bottom: 10px;
    font-size: 20px;
}

.login-box.show {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
}

label {
    display: block;
    color: gold;
    font-weight: bold;
}

.login-box input {
    width: 80%;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid gold;
    background-color: transparent;
    color: gold;
    border-radius: 0;
}

.login-box label{
    text-align: center;
}

.login-logo-container {
    border: 2px solid gold;
    border-radius: 15px;
    padding: 15px;
    margin: 30px;
}

.submit-btn{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .3s;
    margin-top: 15px;
    border-radius: 15px;
    background-color: green;
    font-weight: bold;
}

.submit-btn a{
    text-decoration: none;
    color: #2C2C2C;
}

.submit-btn:hover {
    background-color: green;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 0 5px green,
    0 0 25px green;
}

.register-btn{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .3s;
    margin-top: 15px;
    border-radius: 15px;
    background-color: orange;
    font-weight: bold;
}

.register-btn a{
    text-decoration: none;
    color: #2C2C2C;
}

.register-btn:hover {
    background-color: orange;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 0 5px orange,
    0 0 25px orange;
}

h2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    backdrop-filter: blur(8px);
}

h4,h5{
    text-align: center;
    color: gold;
    margin: 15px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
}

.modal-content {
    max-width: 700px;
    border-radius: 15px;
    background-color: #2C2C2C;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
    color: red;
}