body {
    background-color: gold;
    margin: 0;
}

.main-title,
.sub-title{
    text-align: center;
}

.sub-title{
    font-size: 20px;
    padding-bottom: 30px;


}

.main-title{
    padding-top: 30px;
    padding-bottom: 5px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    width: calc(100% - 40px);
    margin: 0 auto 30px;
}

.card .game-name {
    color: white;
}

.card .price {
    margin-left: 15px;
    color: gold;
    text-align: right;
}

.row{
    padding-bottom: 30px;
}

.custom-column{
    margin-bottom: 30px;
}

.main-title h1{
    font-weight: bold;
    font-size: 40px;
}

header::before{
    content: "";
    display: block;
    height: 15px;
    background-color: gold;
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 999;
}

.navbar-name-site {
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    margin-right: 0px;
    align-items: center;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.main-logo {
    width: 30px;
    margin-right: 15px;
}

.cart-logo {
    width: 32px;
    margin-right: 15px;
}

.login-logo {
    width: 30px;
}

@media screen and (min-width: 992px){
    .card-body{
        height: 80px;
    }
}
@media screen and (max-width: 991px){
    .custom-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .card-body{
        height: 100px;
    }
}
@media screen and (min-width: 683px){
    .nav{
        top: 95px;
    }
    .navbar{
        height: 80px;
    }
}
@media screen and (max-width: 682px){
    .navbar {
        height: 120px;
    }
    .nav{
        top: 135px;
    }
    .main-title h1{
        margin-top: 40px;
    }
}
@media screen and (max-width: 575px){

    .col-sm{
        padding-bottom: 30px;
        height: auto;
        width: 400px;
    }

    .row{
        justify-content: center;
    }

    .field .content{
        font-size: 15px;
    }
}
@media  screen and (max-width: 522px) {
    .custom-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card-body{
        height: 80px
    }
}

h1 {
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.bottom-area {
    background-color: black;
    border-radius: 15px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.field{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: red;
    margin: 15px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.field .content {
    font-family: 'inherit';
}

.content{
    color: yellow;
    margin-right: 50px;
    display: block ;
    margin: 15px;
}

.container{
    overflow: hidden;
}

.navbar {
    justify-content: center;
    position: fixed;
    display: flex;
    background-color: black;
    align-items: center;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    transition: border-radius 0.2s;
    width: calc(100% - 30px);
    z-index: 1000;
}

.nav {
    display: none;
    width: calc(100% - 30px);
    position: fixed;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
    background-color: #2C2C2C;
    margin: 0;
    padding-top: 15px;
    overflow: hidden;
}

.nav.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav a {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: gold;
    font-weight: bold;
}

.nav ul{
    margin: 0;
    padding: 0;
}

.nav li{
    margin-bottom: 15px;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: gold;
    margin: 5px 0;
    border-radius: 15px;
}

.menu-toggle {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.search-box {
    display: flex;
}

.search-box input {
    width: 160px;
    height: 45px;
    border: 2px solid gold;
    border-radius: 15px;
    background-color: #2C2C2C;
    color: gold;
    outline: none;
    text-align: center;
    margin-right:15px;
}

