/* Stile di base senza margin-right */
body {
    background-color: gold;
    padding-top: 80px;
}

header {
    height: 70px;
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    border-radius: 15px;
    background-color: black;
    overflow: hidden;
}

.navbar-name-site {
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    list-style-type: none;
    margin-right: 150px;
    color: gold;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.main-logo {
    width: 30px;
    margin-right: 10px;
}

.cart-logo {
    width: 30px;
    margin-right: 20px;
}

.login-logo {
    width: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar-list {
    display: flex;
    align-items: center;
}

/* Aggiungi stili CSS per l'icona del menu */
.menu-icon {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: gold;
    margin: 6px 0;
    transition: 0.4s;
}

.navbar-link {
    color: gold;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;
    text-decoration: none;
}

/* Rimuovi la sottolineatura al passaggio del mouse */
.navbar-link:hover {
    text-decoration: none;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 10px 20px;
    text-indent: 0;
    border: 2px solid gold;
    border-radius: 10px;
    background-color: black;
    color: gold;
    margin-right: 20px;
    margin-left: 130px;
}

@media screen and (max-width: 1024px) {
    .navbar-name-site {
        margin-right: 50px;
    }
    .search-box input{
        margin-left: 30px;
    }

    /* Aggiungi regole CSS per l'icona del menu quando la larghezza dello schermo è ridotta */
    .navbar-link {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}
