body {
    background-color: gold;
    margin: 0;
    padding: 0;
    padding-top: 70px;
}

header {
    position: fixed;
    top: 0;
    left: 10px; /* Margine a sinistra */
    right: 10px; /* Margine a destra */
    width: calc(100% - 20px); /* Larghezza totale - somma margini sinistro e destro */
    z-index: 1000;
    background-color: black;
    margin-top: 10px;
    border-radius: 15px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-left: 20px;
    border-radius: 15px;
}

.container a {
    text-decoration: none;
    color: gold;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
}

.container a h1 {
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-link {
    text-decoration: none;
    margin-right: 20px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 8px;
    border: 2px solid gold;
    border-radius: 15px;
    background-color: black;
    color: gold;
}
