*{
    margin: 0
}

body {
    background-color: gold;
}

header {
    position: fixed;
    background-color: black;
    border-radius: 15px;
    height: 80px;
    width: calc(100% - 30px);
    margin: 15px;
}

.navbar-name-site {
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    margin-right: 150px;
    align-items: center;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.main-logo {
    width: 30px;
    margin-right: 10px;
}

.cart-logo {
    width: 32px;
    margin-right: 20px;
}

.login-logo {
    width: 30px;
}

.menu-icon{
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar-link {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.navbar-link a{
    text-decoration: none;
    color: gold;
    margin-right: 20px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 10px 20px;
    text-indent: 0;
    border: 2px solid gold;
    border-radius: 15px;
    background-color: #2C2C2C;
    color: gold;
    margin-right: 20px;
    margin-left: 130px;
    outline: none;
}

@media screen and (max-width: 1500px) {
    .navbar-name-site {
        margin-right: 20px;
    }

    .search-box input {
        margin-left: 20px;
        width: 100px;
        border-radius: 15px;
        border: 2px solid gold;
        outline: none;
        background-color: #2C2C2C;
        color: gold;
    }

    .navbar-link {
        display: none;
    }

    .menu-icon {
        display: flex;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .menu-icon img {
        display: flex;
        justify-content: center;
        width: 30px;
        height: auto;
    }

    .menu-content {
        position: fixed;
        transform: translateX(-42%);
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
    }

    .menu-content a {
        color: gold;
        text-decoration: none;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 15px;
        padding-bottom: 15px;
    }

    .menu-content a span {
        display: inline-block;
        width: 200px;
        height: 25px;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: black;
        text-align: center;
        line-height: 25px;
    }
}

.menu-container:not(:hover) .menu-content {
    display: none;
}

.bottom-area {
    background-color: black;
    border-radius: 15px;
    margin: 15px;
    height: 200px;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.contact,.about-us{
    display: inline-block;
    color: gold;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}

h1 {
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-scrolling: auto;
}


.about-us,.contact{
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}
.element{
    display: flex;
    color: gold;
    text-decoration: none;
}

.content a span{
    background-color: #2C2C2C;
    border-radius: 15px;
    height: 25px;
    margin-top: 10px;
}
.field{
    font-size: 25px;
    display: block;
}

.content{
    color: gold;
}

.content a span{
    background-color: #2C2C2C;
    border-radius: 15px;
}