body {
    margin: 0;
    background-color: black;
}

header {
    padding-left: 20px;
    background-color: black;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    border-image-slice: 1;
}
.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px; /* Aggiungi uno spazio a sinistra del contenuto */
}

.container a {
    text-decoration: none; /* Rimuovi la sottolineatura del link */
    color: gold; /* Imposta il colore del testo come desiderato */
    font-family: 'Press Start 2P', cursive;
    display: flex; /* Per evitare che il link cambi di dimensione al passaggio del mouse */
    align-items: center; /* Allinea il testo verticalmente al centro */
}
.container a h1 {
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.navbar-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-link {
    text-decoration: none;
    margin-right: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Aggiunto margine a sinistra per allinearla correttamente */
}

.search-box input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid gold;
    border-radius: 5px;
    background-color: #293133;
    color: gold;
}


