body {
    background-color: gold;
}

.main-title,
.sub-title{
    text-align: center;
}

.sub-title{
    font-size: 15px;
    padding-bottom: 30px;

}

.main-title{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
}

.card-body{
    height: 60px;
}

.card .game-name {
    color: white;
}

.card .price {
    color: gold;
    text-align: right;
}

.row{
    padding-bottom: 30px;
}











*{
    margin: 0
}

header {
    position: fixed;
    background-color: black;
    border-radius: 15px;
    height: 80px;
    width: calc(100% - 30px);
    margin: 15px;
    overflow: hidden;
    z-index: 1000;
}

header::before{
    content: "";
    display: block;
    height: 15px;
    border-radius: 15px;
    background-color: gold;
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 999;
}

.navbar-name-site {
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    margin-right: 150px;
    align-items: center;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.main-logo {
    width: 30px;
    margin-right: 10px;
}

.cart-logo {
    width: 32px;
    margin-right: 20px;
}

.login-logo {
    width: 30px;
}

.menu-icon{
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar-link {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.navbar-link a{
    text-decoration: none;
    color: gold;
    margin-right: 20px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 10px 20px;
    text-indent: 0;
    border: 2px solid gold;
    border-radius: 15px;
    background-color: #2C2C2C;
    color: gold;
    margin-right: 20px;
    margin-left: 130px;
    outline: none;
}

@media screen and (max-width: 1000px) {
    .card-body{
        height: 80px;
    }
}
@media screen and (max-width: 767px) {
    .card-body{
        height: 120px;
    }
}
@media screen and (max-width: 575px) {
    .card-body{
        height: 60px;
    }

    .col-sm{
        padding-bottom: 30px;
        height: auto;
        width: 400px;
    }

    .row{
        justify-content: center;
    }

}

@media screen and (max-width: 670px) {
    header{
        height: 120px;
    }
}

@media screen and (max-width: 1500px) {

    .navbar-name-site {
        margin-right: 20px;
    }

    .search-box input {
        margin-left: 20px;
        width: 100px;
        border-radius: 15px;
        border: 2px solid gold;
        outline: none;
        background-color: #2C2C2C;
        color: gold;
    }

    .navbar-link {
        display: none;
    }

    .menu-icon {
        display: flex;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .menu-icon img {
        display: flex;
        justify-content: center;
        width: 30px;
        height: auto;
    }

    .menu-content {
        position: fixed;
        transform: translateX(-42%);
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
    }

    .menu-content a {
        color: gold;
        text-decoration: none;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 15px;
        padding-bottom: 10px;
    }

    .menu-content a span {
        display: inline-block;
        width: 200px;
        height: 100%;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: black;
        text-align: center;
        line-height: 15px;
    }

}

.menu-container:not(:hover) .menu-content {
    display: none;
}

h1 {
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.bottom-area {
    background-color: black;
    border-radius: 15px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.content span{
    background-color: #2C2C2C;
    border-radius: 15px;
    margin-right: 10px;
}

.field{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: red;
    margin: 15px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.field .content {
    font-family: 'inherit';
}

.content{
    color: yellow;
    margin-right: 50px;
    display: block ;
    margin: 15px;
}

.container{
    overflow: hidden;
}