body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.navbar {
    justify-content: center;
    display: flex;
    background-color: black;
    height: 80px;
    align-items: center;
    margin: 15px;
    border-radius: 15px;
}

.nav {
    display: none;
    width: calc(100% - 30px);
    margin: 0 auto; /* Centra il .nav orizzontalmente */
    position: absolute;
    top: 105px;
    border-radius: 15px;
    background-color: #2C2C2C;
}

.nav.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav li {
    margin-bottom: 15px; /* Aggiungi spazio tra gli elementi della lista */
}

.nav a {
    text-decoration: none;
    color: gold;
    font-weight: bold;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: gold;
    margin: 5px 0;
    border-radius: 15px;
}

.menu-toggle {
        display: block;
        margin-left: 15px;
}

.main-logo {
    width: 30px;
    margin-right: 15px;
}

.cart-logo {
    width: 32px;
    margin-right: 15px;
}

.login-logo {
    width: 30px;
}

.navbar-name-site {
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet, pink);
    -webkit-background-clip: text;
    color: transparent;
}

.search-box {
    display: flex;
}

.search-box input {
    width: 160px;
    height: 45px;
    border: 2px solid gold;
    border-radius: 15px;
    background-color: #2C2C2C;
    color: gold;
    outline: none;
    text-align: center;
    margin-left:15px;
    margin-right:15px;
}
